.image-episode {
  height: 150px;
  width: 260px;
  margin: 0 5px;
}
.title-ep-container {
  display: flex;
  justify-content: space-between;
  margin: 0 7px;
  font-size: 14px;
}
.description {
  font-size: 12px;
  margin: 0 7px;
}
